*{
    color: #ececec;
    font-family: Roboto, 'Open-sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height: 100%;

    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    position: relative;
  min-height: 100vh;
}