.sidebar {
  width: 250px;
  height: 100vh;
  backdrop-filter: blur(2px);
  /* -webkit-backdrop-filter: blur(2px); */
  background: rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.sidebar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  background-color: transparent;
}
#logo {
  width: 7rem;
  background: transparent;
  height: 13vh;
}

.new-chat {
  border: 1px dashed #a92c3b;
  background-color: transparent;
  padding: 5px 0 5px 0;
  margin: 10px auto;
  border-radius: 5px;
  width: 70%;
  display: block;
  text-align: center;
}

.new-chat span {
  color: #a92c3b;
  font-weight: bold;
}

.new-chat span i {
  font-size: 1rem;
  color: #a92c3b;
}
/* hover on new chat */
.new-chat:hover {
  border: none;
  background: rgba(169, 44, 59, 0.85); /* wine with glow touch */
  backdrop-filter: blur(10px); /* extra blur on hover */
  box-shadow: 0 0 20px rgba(169, 44, 59, 0.55); /* wine blur glow */
  cursor: pointer;
}

.new-chat:hover span,
.new-chat:hover span i, .history li:hover {
  color: black;
}

/* thread history */
.history {
  list-style: none;
  padding: 0;
  height: 100%;
  position: relative;
}

    /* histor thread */

.history li {
  border: 1px dashed #a92c3b;
  background-color: transparent;
  padding: 5px 0 5px 0;
  margin: 10px 10px 15px 10px;
  border-radius: 5px;
  color: #a92c3b;
  display: block;
  text-align: center;
}

.history li:hover{
    border: none;
  background: rgba(169, 44, 59, 0.85); /* wine with glow touch */
  backdrop-filter: blur(10px); /* extra blur on hover */
  box-shadow: 0 0 20px rgba(169, 44, 59, 0.55); /* wine blur glow */
  cursor: pointer;
}

.sign {
  display: flex;
  flex-direction: row-reverse;
}

.sign p {
  font-size: 10px;
  color: #a92c3b;
  margin: 10px;
}

.fa-trash{
  opacity: 0;
  position: absolute;
  right: 0;
}

.history li:hover .fa-trash{
  opacity: 1;
  color: #0a0909;
}
